body.home {
  div.title-wrapper {
    overflow: hidden;
    padding-bottom: 50px;
    h1 {
      font-family: $poiret;
      padding: 10px 0px 10px 15%;
      width: 105%;
      margin-top: 20px;
      transform: rotate(-13deg) translateX(-20px);
      color: white;
      background-color: $dark-purple;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      span.main-title {
        display: inline-block;
        font-size: 2.5rem;
        margin-bottom: 10px;
      }
      span.sub-title {
        font-size: 1.4rem;
      }
    }
  }
  div.main-pic-menu-wrapper {
    display: flex;
    flex-direction: column;
    div.main-pic-wrapper {
      width: 100%;
      margin-top: -15%;
      img.main-image {
        width: 100%;
        height: auto;
        clip-path: polygon(0% 15%, 100% 0%, 100% 70%, 0% 85%);
      }
    }
    nav.menu-container {
      margin-top: -25%;
      ul {
        list-style: none;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: 0px;
        width: 50%;
        li {
          position: relative;
          padding-left: 10px;
          margin-bottom: 20px;
          border-bottom: 3px solid $dark-purple;
          a {
            padding-left: 10px;
            display: inline-block;
            margin-bottom: 5px;
            text-decoration: none;
            font-family: $comfortaa;
            font-weight: bold;
            font-size: 1.7rem;
            color: black;
          }
        }
      }
    }
  }
}
