/* Variable for fonts */
$abril: "Abril Fatface";
$comfortaa: "Comfortaa"; /* <- This has normal(400) and bold(700) weight */
$poiret: "Poiret One";

/* Variables for Colors */
$dark-purple: #633475;
$dark-yellow: #d6ad56;
$pale-purple: #f5fcff;
$pale-blue: #c2ffe4;
$smoky-blue: #91b3a3;
